@Scripts.Render("~/Scripts/timer.js")

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Game.css">
    <title>TicToc</title>
</head>
<body onload="timer(20, 'Act it out!', 0)">
    <div id="timerr">
        <h1 id="prompt"></h1>
        <h1 id="time"></h1>
        <h1 id="alarm"></h1>
    </div>
    @using (Html.BeginForm("SecondGame", "Home"))
    {
        <input type="submit" class="btn btn-primary" value="Submit" />
    }
</body>
</html>
