@Scripts.Render("~/Scripts/timer.js")

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Game.css">
    <title>TicToc</title>
</head>
<body onload="timer(45, 'Find the Double-Agent!', 1)">
    <div id="timerr">
        <h1 id="prompt"></h1>
        <h1 id="time"></h1>
        <h1 id="alarm"></h1>
    </div>
    @using (Html.BeginForm("SubmitFourthGame", "Home"))
    {
        <input type="submit" class="btn btn-primary" value="Finish Game" />
    }
    @using (Html.BeginForm("ThirdGame", "Home"))
    {
        <input type="submit" class="btn btn-primary" value="Back" />
    }
</body>
</html>

<script>
    function timer(sec, prompt) {
        document.getElementById('prompt').innerHTML = prompt;
        var timer = setInterval(function () {
            document.getElementById('time').innerHTML = '00:' + sec;
            sec--;
            if (sec < 0) {
                clearInterval(timer);
                var audio = new Audio('http://shing.mobile9.com/download/media/702/panicalarm_4em1n68f.mp3');
                audio.play();
            }
        }, 1000);
    }
</script>
