@{
    ViewBag.Title = "How To Play";
}
<h2>How To Play DoubleCross:</h2>
<p> The goal of the game is simple. A group of civilians must figure out who among them is a spy, either by guessing what object the spy possesses, 
    or guessing who specifically the spy is. </p>
<p> One person, the spy, is tied to a single object. No one knows who the spy is, so they want to try their avoid blowing their cover.</p>
    <p>Another person, the operative, knows the spy has this object, and his goal is to
    let the other civilians know what this object is. But there's a catch: <i>the operative cannot say the object name out loud</i>. </p>

<p>
    There are four rounds: <ol>
        <li>In Round 1 is a game of charades, where the operative tries to express the object with movement.</li>
        <li>In Round 2 is a drawing game. The Operative must try to draw the object used by the spy.</li>
        <li>In Round 3, the operative is allowed to use words to describe the word (he still can't utter the word out loud!).
        <li>If the civilians fail to guess the object after 3 rounds, they have 45 seconds to guess who the spy is.</li>
    </ol> 
</p>
