@Scripts.Render("~/Scripts/timer.js")

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Game.css">
    <script type="text/javascript" src="timer.js"></script>
    <script type="text/javascript" src="GameOverview.js"></script>
    <title>TicToc</title>
</head>
<body onload="timer(15, 'Describe it!')">
    <div id="timerr">
        <h1 id="prompt"></h1>
        <h1 id="time"></h1>
    </div>
    @using (Html.BeginForm("SubmitThirdGame", "Home"))
    {
        <input type="submit" class="btn btn-primary" value="Done" />
    }
    @using (Html.BeginForm("SecondGame", "Home"))
    {
        <input type="submit" class="btn btn-primary" value="Back" />
    }
</body>
</html>
